@import url('https://fonts.googleapis.com/css2?family=Allan&family=Anton&family=Courgette&family=Kalam&family=Kaushan+Script&family=Lobster&family=Lobster+Two:ital@0;1&family=Oswald&family=Pathway+Gothic+One&family=Playball&family=Righteous&family=Roboto&family=Squada+One&family=Teko&family=Trade+Winds&family=Yanone+Kaffeesatz&family=Yellowtail&display=swap');
@font-face {font-family: 'BravAda-Arma-Regular';src:url('/fonts/BravAda-Arma-Regular.ttf.woff') format('woff'),url('/fonts/BravAda-Arma-Regular.ttf.svg#BravAda-Arma-Regular') format('svg'),url('/fonts/BravAda-Arma-Regular.ttf.eot'),url('/fonts/BravAda-Arma-Regular.ttf.eot?#iefix') format('embedded-opentype'); font-weight: normal;font-style: normal;}
$bravAda: 'BravAda-Arma-Regular';
$allan: 'Allan', cursive;// Itallic Long
$anton: 'Anton', sans-serif;
$courgette: 'Courgette', cursive;
$kallam: 'Kalam', cursive;
$kaushan: 'Kaushan Script', cursive;
$lobster: 'Lobster', cursive;
$lobserTwo: 'Lobster Two', cursive;
$ostwald: 'Oswald', sans-serif;
$Pathway: 'Pathway Gothic One', sans-serif;
$playball: 'Playball', cursive;
$righteous: 'Righteous', cursive;
$roboto: 'Roboto', sans-serif;
$squada: 'Squada One', cursive;
$teko: 'Teko', sans-serif;
$tradeWinds: 'Trade Winds', cursive;
$yanone: 'Yanone Kaffeesatz', sans-serif;
$yellow: 'Yellowtail', cursive;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


::-webkit-scrollbar{
    width: 1px;
}

::-webkit-scrollbar-thumb{
    background: red;

}

body{
    height: 100vh;
    width: 100%;
    background: url('/assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


nav{
    padding: 20px;
    display: flex;
    z-index: 1;
    justify-content: space-evenly;
    background: rgba(#fff, 0.2);

    .logo{
        display: block;
        width: 80%;
        color: rgba(255, 255, 255, 0.6);
        font-family: $bravAda;
        font-weight: 400;
        font-size: 32px;
        padding-left: 20px;
       -webkit-text-stroke-width: 1.5px;
       -webkit-text-stroke-color: #020202c2;
        line-height: 35px;
        cursor: pointer;
        font-weight: bold;
    }

    form{
        display: flex;
        width: 100%;
        padding: 0 10px;
        position: relative;

        input{
            outline: none;
            border: none;
            padding: 10px;
            width: 100%;
            background: rgba(#fff,0.4);
            border-radius: 5px;
            text-transform: capitalize;
            color: rgba(56, 56, 56, 0.6);
            border: 1px solid rgba(rgb(0, 102, 255),0.3);
            
            &::placeholder{
                color: rgba(56, 56, 56, 0.6);
            }
        }
        
        i{
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-55%);
            color: rgba(56, 56, 56, 0.6);
        }
    }
    
    .menus{
        display: flex;
        width: 100%;
       // background: yellow;
        padding: 0px 10px;
        justify-content: space-between;
        
        li{
            list-style: none;
            display: block;
            width: 100%;
            height: 100%;
            
            a{
                display: block;
                width: 100%;
                padding: 6px;
                text-decoration: none;
                text-align: center;
                font-family: $anton;
                color: rgba(#fff, 0.75);
                font-weight: normal;
                text-shadow: 0 0 20px rgb(44, 42, 42);
                position: relative;
                transition: 0.4s all linear;

                &::after{
                    content: "";
                    height: 2px;
                    background: tomato;
                    width: 0%;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transition: 0.4s all linear;
                }

                &:hover{
                    color: tomato;
                }

                &:hover::after{
                    left: 0;
                    width: 100%;
                }
            }

            &:nth-last-of-type(1){
                width: 100px;
                a{
                    width: 50px;
                }
            }

            &:nth-last-of-type(2){
                width: 100px;
                a{
                    width: 55px;
                }
            }
        }
    }
}

.setAccounts{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    form{
        background: rgba(#fff,0.2);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 350px;
        padding: 10px;
        border: 1px solid rgba(#fff,0.1);
        div{
            height: 100%;
            width: 100%;
            margin: 7px 0px 0px 0px;

            input,p{
                width: 100%;
                padding: 10px;
                height: 40px;
                border: none;
                outline: none;
                border-radius: 5px;
                background: rgba(#fff,0.1);
                font-family: sans-serif;
                color: rgba(#fff,0.6);
                text-shadow: 0 0 5px #fff;
                transition: 0.6s all linear;
                border: 2px solid rgba(#fff,0.3);
                text-transform: capitalize;
                cursor: text;

                &::placeholder{
                    text-shadow: none;
                    color: #fff;
                    opacity: 0.6;
                }

                &:hover,&:focus{
                    color: rgba(white,1);
                    border-color: orangered;
                    background: rgba(orangered,0.2);
                }

                &.login_send{
                    cursor: pointer;
                    transition: 0.6s all linear;
                    font-weight: bold;
                }
            }

        }

    }
}

input[type="submit"]{
    cursor: pointer !important;
}

p{
    cursor: pointer !important;
    font-size: 13px !important;
    text-transform: none !important;
}